{% extends 'home/layout.html' %}
{% block css %}
<style>
    #news:before {
        position: absolute;
        top: 21px;
        left: 0;
        content: '';
        width: 4px;
        height: 21px;
        background: #FF3657;
    }

    .panel {
        border-radius: 0;
    }
</style>
{% endblock %}
{% block content %}
<div class="container" style="margin-top: 70px;padding: 0">
    <div class="row">
        <div class="col-md-12" style="padding: 0;margin-top: 8px">
            <img src="holder.js/1200x100" class="img-responsive" alt="">
        </div>
        <div class="col-md-12" style="padding: 0;margin-top: 8px">
            <div class="col-md-9" style="padding-left: 0;padding-right: 8px">
                <div class="panel" style="margin-bottom: 8px">
                    <div class="panel-body">
                        <div class="col-md-4">
                            <img src="holder.js/800x190"
                                 alt="" class="img-responsive ">
                        </div>
                        <div class="col-md-8">
                            <h4> SSM的图书馆管理系统</h4>
                            <div>
                                <span
                                        style='display:inline-block;text-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px'><a
                                        href="" style="color: #898989">分类1,分类2</a></span>
                                <span style='display:inline-block;text-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px'><a
                                        href="" style="color: #898989">时间</a></span>
                                <span style='display:inline-block;wtext-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px'><a
                                        href="" style="color: #898989">评论量</a></span>
                                <span style='display:inline-block;wtext-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px;color:#898989 '>阅读量</span>
                                <p style="margin-top: 10px;line-height: 25px">
                                    SSM的图书馆管理系统 SSH的汽车销售网站Flask框架的电影网站 人脸识别的门禁系统 JavaWeb的学校资源管理系统 SSM的图书馆管理系统
                                    SSM的汽车销售网站，SSM的汽车销售网站，SSM的汽车销售网站。
                                </p>
                                <h5><a href="">阅读全文</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel" style="margin-bottom: 8px">
                    <div class="panel-body">
                        <div class="col-md-4">
                            <img src="holder.js/800x190"
                                 alt="" class="img-responsive ">
                        </div>
                        <div class="col-md-8">
                            <h4> SSM的图书馆管理系统</h4>
                            <div>
                                <span
                                        style='display:inline-block;text-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px'><a
                                        href="" style="color: #898989">分类1,分类2</a></span>
                                <span style='display:inline-block;text-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px'><a
                                        href="" style="color: #898989">时间</a></span>
                                <span style='display:inline-block;wtext-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px'><a
                                        href="" style="color: #898989">评论量</a></span>
                                <span style='display:inline-block;wtext-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px;color:#898989 '>阅读量</span>
                                <p style="margin-top: 10px;line-height: 25px">
                                    SSM的图书馆管理系统 SSH的汽车销售网站Flask框架的电影网站 人脸识别的门禁系统 JavaWeb的学校资源管理系统 SSM的图书馆管理系统
                                    SSM的汽车销售网站，SSM的汽车销售网站，SSM的汽车销售网站。
                                </p>
                                <h5><a href="">阅读全文</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel" style="margin-bottom: 8px">
                    <div class="panel-body">
                        <div class="col-md-4">
                            <img src="holder.js/800x190"
                                 alt="" class="img-responsive ">
                        </div>
                        <div class="col-md-8">
                            <h4> SSM的图书馆管理系统</h4>
                            <div>
                                <span
                                        style='display:inline-block;text-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px'><a
                                        href="" style="color: #898989">分类1,分类2</a></span>
                                <span style='display:inline-block;text-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px'><a
                                        href="" style="color: #898989">时间</a></span>
                                <span style='display:inline-block;wtext-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px'><a
                                        href="" style="color: #898989">评论量</a></span>
                                <span style='display:inline-block;wtext-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px;color:#898989 '>阅读量</span>
                                <p style="margin-top: 10px;line-height: 25px">
                                    SSM的图书馆管理系统 SSH的汽车销售网站Flask框架的电影网站 人脸识别的门禁系统 JavaWeb的学校资源管理系统 SSM的图书馆管理系统
                                    SSM的汽车销售网站，SSM的汽车销售网站，SSM的汽车销售网站。
                                </p>
                                <h5><a href="">阅读全文</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel" style="margin-bottom: 8px">
                    <div class="panel-body">
                        <div class="col-md-4">
                            <img src="holder.js/800x190"
                                 alt="" class="img-responsive ">
                        </div>
                        <div class="col-md-8">
                            <h4> SSM的图书馆管理系统</h4>
                            <div>
                                <span
                                        style='display:inline-block;text-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px'><a
                                        href="" style="color: #898989">分类1,分类2</a></span>
                                <span style='display:inline-block;text-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px'><a
                                        href="" style="color: #898989">时间</a></span>
                                <span style='display:inline-block;wtext-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px'><a
                                        href="" style="color: #898989">评论量</a></span>
                                <span style='display:inline-block;wtext-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px;color:#898989 '>阅读量</span>
                                <p style="margin-top: 10px;line-height: 25px">
                                    SSM的图书馆管理系统 SSH的汽车销售网站Flask框架的电影网站 人脸识别的门禁系统 JavaWeb的学校资源管理系统 SSM的图书馆管理系统
                                    SSM的汽车销售网站，SSM的汽车销售网站，SSM的汽车销售网站。
                                </p>
                                <h5><a href="">阅读全文</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel" style="margin-bottom: 8px">
                    <div class="panel-body">
                        <div class="col-md-4">
                            <img src="holder.js/800x190"
                                 alt="" class="img-responsive ">
                        </div>
                        <div class="col-md-8">
                            <h4> SSM的图书馆管理系统</h4>
                            <div>
                                <span
                                        style='display:inline-block;text-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px'><a
                                        href="" style="color: #898989">分类1,分类2</a></span>
                                <span style='display:inline-block;text-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px'><a
                                        href="" style="color: #898989">时间</a></span>
                                <span style='display:inline-block;wtext-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px'><a
                                        href="" style="color: #898989">评论量</a></span>
                                <span style='display:inline-block;wtext-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px;color:#898989 '>阅读量</span>
                                <p style="margin-top: 10px;line-height: 25px">
                                    SSM的图书馆管理系统 SSH的汽车销售网站Flask框架的电影网站 人脸识别的门禁系统 JavaWeb的学校资源管理系统 SSM的图书馆管理系统
                                    SSM的汽车销售网站，SSM的汽车销售网站，SSM的汽车销售网站。
                                </p>
                                <h5><a href="">阅读全文</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel" style="margin-bottom: 8px">
                    <div class="panel-body">
                        <div class="col-md-4">
                            <img src="holder.js/800x190"
                                 alt="" class="img-responsive ">
                        </div>
                        <div class="col-md-8">
                            <h4> SSM的图书馆管理系统</h4>
                            <div>
                                <span
                                        style='display:inline-block;text-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px'><a
                                        href="" style="color: #898989">分类1,分类2</a></span>
                                <span style='display:inline-block;text-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px'><a
                                        href="" style="color: #898989">时间</a></span>
                                <span style='display:inline-block;wtext-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px'><a
                                        href="" style="color: #898989">评论量</a></span>
                                <span style='display:inline-block;wtext-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px;color:#898989 '>阅读量</span>
                                <p style="margin-top: 10px;line-height: 25px">
                                    SSM的图书馆管理系统 SSH的汽车销售网站Flask框架的电影网站 人脸识别的门禁系统 JavaWeb的学校资源管理系统 SSM的图书馆管理系统
                                    SSM的汽车销售网站，SSM的汽车销售网站，SSM的汽车销售网站。
                                </p>
                                <h5><a href="">阅读全文</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel" style="margin-bottom: 8px">
                    <div class="panel-body">
                        <div class="col-md-4">
                            <img src="holder.js/800x190"
                                 alt="" class="img-responsive ">
                        </div>
                        <div class="col-md-8">
                            <h4> SSM的图书馆管理系统</h4>
                            <div>
                                <span
                                        style='display:inline-block;text-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px'><a
                                        href="" style="color: #898989">分类1,分类2</a></span>
                                <span style='display:inline-block;text-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px'><a
                                        href="" style="color: #898989">时间</a></span>
                                <span style='display:inline-block;wtext-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px'><a
                                        href="" style="color: #898989">评论量</a></span>
                                <span style='display:inline-block;wtext-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px;color:#898989 '>阅读量</span>
                                <p style="margin-top: 10px;line-height: 25px">
                                    SSM的图书馆管理系统 SSH的汽车销售网站Flask框架的电影网站 人脸识别的门禁系统 JavaWeb的学校资源管理系统 SSM的图书馆管理系统
                                    SSM的汽车销售网站，SSM的汽车销售网站，SSM的汽车销售网站。
                                </p>
                                <h5><a href="">阅读全文</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel" style="margin-bottom: 8px">
                    <div class="panel-body">
                        <div class="col-md-4">
                            <img src="holder.js/800x190"
                                 alt="" class="img-responsive ">
                        </div>
                        <div class="col-md-8">
                            <h4> SSM的图书馆管理系统</h4>
                            <div>
                                <span
                                        style='display:inline-block;text-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px'><a
                                        href="" style="color: #898989">分类1,分类2</a></span>
                                <span style='display:inline-block;text-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px'><a
                                        href="" style="color: #898989">时间</a></span>
                                <span style='display:inline-block;wtext-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px'><a
                                        href="" style="color: #898989">评论量</a></span>
                                <span style='display:inline-block;wtext-align: center;background-color: #f3f4f7;border-radius: 8px;padding:0 10px;color:#898989 '>阅读量</span>
                                <p style="margin-top: 10px;line-height: 25px">
                                    SSM的图书馆管理系统 SSH的汽车销售网站Flask框架的电影网站 人脸识别的门禁系统 JavaWeb的学校资源管理系统 SSM的图书馆管理系统
                                    SSM的汽车销售网站，SSM的汽车销售网站，SSM的汽车销售网站。
                                </p>
                                <h5><a href="">阅读全文</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3" style="padding: 0" id="container-right">
                <div class="panel" style="margin-bottom: 8px;border-radius: 0">
                    <h4 class="panel-heading" id="news" style="font-weight: bold">热门资讯</h4>
                    <ul class="list-group" style="font-size: 15px">
                        <li class="list-group-item" style="border: none;">
                            <a href="javascript:;" style="color:#3f3f3f"><span
                                    class="glyphicon " style="color: #337ab7"></span>&nbsp;&nbsp;SSM的图书馆管理系统</a>
                        </li>
                        <li class="list-group-item" style="border: none">
                            <a href="javascript:;" style="color:#3f3f3f"><span
                                    class="glyphicon " style="color: #337ab7"></span>&nbsp;&nbsp;SSH的汽车销售网站
                            </a>
                        </li>
                        <li class="list-group-item" style="border: none">
                            <a href="javascript:;" style="color:#3f3f3f"><span
                                    class="glyphicon " style="color: #337ab7"></span>&nbsp;&nbsp;Flask框架的电影网站</a>
                        </li>
                        <li class="list-group-item" style="border: none">
                            <a href="javascript:;" style="color:#3f3f3f"><span
                                    class="glyphicon " style="color: #337ab7"></span>&nbsp;&nbsp;人脸识别的门禁系统
                            </a>
                        </li>
                        <li class="list-group-item" style="border: none">
                            <a href="javascript:;" style="color:#3f3f3f"><span
                                    class="glyphicon " style="color: #337ab7"></span>&nbsp;&nbsp;JavaWeb的学校资源管理系统
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="panel" style="margin-bottom: 8px;border-radius: 0">
                    <h4 class="panel-heading" style="font-weight: bold">热门教程</h4>
                    <ul class="list-group" style="font-size: 15px">
                        <li class="list-group-item" style="border: none">
                            <a href="javascript:;" style="color:#3f3f3f"><span
                                    class="glyphicon " style="color: #337ab7"></span>&nbsp;&nbsp;SSM的图书馆管理系统
                            </a>
                        </li>
                        <li class="list-group-item" style="border: none">
                            <a href="javascript:;" style="color:#3f3f3f"><span
                                    class="glyphicon " style="color: #337ab7"></span>&nbsp;&nbsp; SSM的汽车销售网站
                            </a>
                        </li>
                        <li class="list-group-item" style="border: none">
                            <a href="javascript:;" style="color:#3f3f3f"><span
                                    class="glyphicon " style="color: #337ab7"></span>&nbsp;&nbsp;Flask框架的电影网站</a>
                        </li>
                        <li class="list-group-item" style="border: none">
                            <a href="javascript:;" style="color:#3f3f3f"><span
                                    class="glyphicon " style="color: #337ab7"></span>&nbsp;&nbsp; 人脸识别的门禁系统
                            </a>
                        </li>
                        <li class="list-group-item" style="border: none">
                            <a href="javascript:;" style="color:#3f3f3f"><span
                                    class="glyphicon " style="color: #337ab7"></span>&nbsp;&nbsp;JavaWeb的学校资源管理系统
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="panel" style="margin-bottom: 8px;border-radius: 0">
                    <h4 class="panel-heading" style="font-weight: bold">热门作品</h4>
                    <ul class="list-group" style="font-size: 15px">
                        <li class="list-group-item" style="border: none">
                            <img src="holder.js/70x60"
                                 alt=""><span style="margin-left: 5px">  人脸识别的门禁系统</span>
                        </li>
                        <li class="list-group-item" style="border: none">
                            <img
                                    src="holder.js/70x60"
                                    alt=""><span
                                style="margin-left: 5px">  酒店管理系统</span>
                        </li>
                        <li class="list-group-item" style="border: none">
                            <img src="holder.js/70x60"
                                 alt=""><span style="margin-left: 5px">  高校资产管理系统</span>
                        </li>
                        <li class="list-group-item" style="border: none">
                            <img src="holder.js/70x60"
                                 alt=""><span style="margin-left: 5px">  高校资产管理系统</span>
                        </li>
                        <li class="list-group-item" style="border: none">
                            <img src="holder.js/70x60"
                                 alt=""><span style="margin-left: 5px">  高校资产管理系统</span>
                            <!--                            <img src="holder.js/70x60" alt=""><span style="margin-left: 5px">  高校资产管理系统</span>-->
                        </li>
                    </ul>
                </div>
                <div class="panel" style="margin-bottom: 8px;border-radius: 0">
                    <h4 class="panel-heading" style="font-weight: bold">最新评论</h4>
                    <div class="panel-body">
<br><br><br><br><br>
                        <br><br> <br><br> <br><br> <br><br> <br><br><br><br><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    var content_right = $('#container-right');
    // 浏览器窗口的高度
    var windowHeight = $(window).height();
    // 距离文档顶部的高度，是固定值
    var offset_top_height = content_right.offset().top;
    // 右侧内容的高度，是固定值
    var content_height = content_right.height();
    // 距浏览器窗口顶部的距离
    var content_right_height = 0;
    $(window).scroll(function () {
            //  标签距离文档顶部的高-窗口与文档顶部的距离
            content_right_height = offset_top_height + content_height - $(window).scrollTop();
            // 随着内容向上翻，一旦标签距浏览器窗口顶部的距不大于窗口的高度，就让标签贴近最下面
            if (content_right_height < windowHeight) {
                content_right.css({'margin-top': '276px'});
            } else {
                content_right.css({'margin-top': '0'})
            }
        }
    );
</script>
{% endblock %}