<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>39毕设网</title>
    <link rel="icon" href="" type="image/x-icon">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename='public/bootstrap/css/bootstrap.min.css')}}">
    {% block css %}{% endblock %}
</head>
<body style="background-color: #f3f4f7">
<!--导航-->
<div class="container">
    <div class="row">
        <nav class="navbar navbar-default navbar-fixed-top"
             style="background:#fff;box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.50);">
            <div class="container">
                <!--小屏幕导航按钮和logo-->
                <div class="navbar-header" style="padding-top: 5px">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="" class="navbar-brand"
                       style="width:130px;color: #333;height: 60px;padding-top: 15px">
                        <span class="glyphicon glyphicon-flag" style="color:#3379b7 "></span>39毕设网
                    </a>
                </div>
                <!--小屏幕导航按钮和logo-->
                <!--导航-->
                <div class="navbar-collapse collapse" style="padding-top: 6px">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a class="curlink" href="" style="font-weight: bold"><span
                                    class=""></span>&nbsp;首页</a>
                        </li>
                        <li>
                            <a class="curlink" href="" style="font-weight: bold"><span
                                    class=""></span>&nbsp;资讯</a>
                        </li>
                        <li>
                            <a id="highlight" class="curlink" href=""
                               style="font-weight: bold;"><span
                                    class=""></span>&nbsp;教程<span
                                    class="glyphicon glyphicon-menu-down"></span></a>
                        </li>
                        <li>
                            <a class="curlink" href=""
                               style="font-weight: bold;"><span
                                    class=""></span>&nbsp;商城</a>
                        </li>
                        <li>
                            <a class="curlink" href=""
                               style="font-weight: bold;"><span
                                    class=""></span>&nbsp;服务</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if "user" not in session %}
                        <li>
                            <a class="curlink" href="" style="font-weight: bold;padding-right: 0px"><span
                                    class=""></span>&nbsp;登录</a>
                        </li>
                        <li>
                            <a class="curlink" href="" style="font-weight: bold;padding-right: 0px"><span
                                    class=""></span>&nbsp;注册</a>
                        </li>
                        {% endif %}
                        {% if "user" in session %}
                        <li>
                            <a class="curlink" href="" style="font-weight: bold"><span
                                    class=""></span>&nbsp;退出</a>
                        </li>
                        <li>
                            <a class="curlink" href="" style="font-weight: bold"><span
                                    class=""></span>&nbsp;{{session["user"]}}</a>
                        </li>
                        {% else %}
                        <!--                                                <li>-->
                        <!--                                                    <a class="curlink" href="" style="font-weight: bold"><span-->
                        <!--                                                            class="glyphicon glyphicon-user"></span>&nbsp;会员中心</a>-->
                        <!--                                                </li>-->
                        {% endif %}
                    </ul>
                </div>
                <!--导航-->
            </div>
        </nav>
    </div>
</div>
<!--导航-->
{% block content %}
{% endblock %}
<!--底部-->
<div class="container-fluid"
     style="background:#030d28;color: #c1c1c1;font-weight: bold;margin-top: 200px;margin-bottom: 2px">
    <div class="row">
        <div class="col-md-12  text-center" style="padding: 40px">
            <a href="" style="color:#c1c1c1;font-weight: bold">关于本站</a>&nbsp;|&nbsp;<a
                href="" style="color:#c1c1c1;font-weight: bold">免责申明</a>&nbsp;|&nbsp;<a
                href="" style="color:#c1c1c1;font-weight: bold">本站蓝图</a>&nbsp;|&nbsp;<a
                href="" style="color:#c1c1c1;font-weight: bold">联系我们</a>
            <br>
            Copyright © 2019-2019&nbsp; 39bysj. All Rights Reserved.&nbsp;39毕设网 版权所有&nbsp;
            <br>
            <a target="_blank_" href="http://www.miit.gov.cn/" style="color:#c1c1c1;">豫ICP备19014367号-1</a>
            <a target="_blank">
                <img src="{{url_for('static',filename='home/images/beian.png')}}" style="padding-bottom:6px"/>
                <span style="color:#c1c1c1;">豫公网安备 41152802000091号</span>
            </a>
            <!--<span>版本号:1.1.0.190402_alpha</span>-->
            <span>
                <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");
                document.write(unescape("%3Cspan id='cnzz_stat_icon_1278138602'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1278138602%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
            </span>
        </div>
    </div>
</div>
<!--底部-->
</body>
<script src="{{url_for('static',filename='public/js/jquery.js')}}"></script>
<script src="{{url_for('static',filename='public/bootstrap/js/bootstrap.min.js')}}"></script>
{% block js %}
{% endblock %}
</html>