{% extends 'home/layout.html' %}
{% block css %}
{% endblock %}
{% block content %}
<div class="container" style="margin-top: 70px;padding: 0">
    <div class="row">
        <div class="col-md-12" style="padding:5px;">
            <ol class="breadcrumb" style="margin-bottom: 0;padding: 10px">
                <li><a href="{{url_for('home.index')}}">首页</a></li>
                <li class="active">商城中心</a></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img class="img-responsive center-block"
                             src="holder.js/1200x200" alt="...">
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-responsive center-block" src="holder.js/1200x200" alt="...">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row wow fadeIn"  style="margin-top: 8px;">
        <div class="col-md-12" style="padding: 0">
            <div class="col-md-4" style="padding: 0;margin-top: 8px">
                <img src="holder.js/600x300" class="col-md-4 img-responsive" alt="Responsive image">
            </div>
            <div class="col-md-4" style="padding: 0;margin-top: 8px">
                <img src="holder.js/600x300" class="col-md-4 img-responsive" alt="Responsive image">

            </div>
            <div class="col-md-4" style="padding: 0;margin-top: 8px">
                <img src="holder.js/600x300" class="col-md-4 img-responsive" alt="Responsive image">

            </div>
            <div class="col-md-4" style="padding: 0;margin-top: 8px">
                <img src="holder.js/600x300" class="col-md-4 img-responsive" alt="Responsive image">
            </div>
            <div class="col-md-4" style="padding: 0;margin-top: 8px">
                <img src="holder.js/600x300" class="col-md-4 img-responsive" alt="Responsive image">
            </div>
            <div class="col-md-4" style="padding: 0;margin-top: 8px">
                <img src="holder.js/600x300" class="col-md-4 img-responsive" alt="Responsive image">
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
{% endblock %}